@font-face {
  font-family: "Shurjo";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_400_v2.woff2)
      format("woff2"),
    url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_400_v2.woff)
      format("woff"),
    url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_400_v2.ttf)
      format("truetype");
}
@font-face {
  font-family: "Shurjo";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_700_v2.woff2)
      format("woff2"),
    url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_400_v2.woff)
      format("woff"),
    url(https://assets.prothomalo.com/prothomalo/assets/ShurjoWeb_400_v2.ttf)
      format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxM.woff)
      format("woff");
}

:root {
  --ratio: 1.112;
  --fallback: "SolaimanLipi", "Siyam Rupali", "Roboto", "Arial", "Helvetica",
    "Monospace";
  --font-1: "Shurjo", var(--fallback);
  --font-2: "Shurjo", var(--fallback);
  --font-3: "Roboto", var(--fallback);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-family: var(--font-1);
  font-weight: var(--regular);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 600;
}

/* .container {
  width: 1260px;
} */
/* Common Button  start*/

/*======== Nav Bar start ========== */
.nav-sec {
  background-color: #e2136e;
}

.navbar-toggler:focus {
  box-shadow: -1 !important;
}

.btn {
  border: none;
  padding: 0.25rem 1.875rem;
}

.btn-outline-success {
  color: #e2136e !important;
  font-size: 18px;
  font-weight: 700;
  background: #ffffff;
  border-radius: 30px;
  border: 2px solid #ffffff !important;
}
#navbar-main {
  background-color: #d12053;
  padding: 0;
  top: 0;
  width: 90%;
  left: 50%;
  justify-content: center;
  transform: translateX(-50%);
  border-radius: 50px;
}
.btn-outline-success:hover {
  background: #f0d116 !important;
  color: #ffffff !important;
  border: 2px solid #fff !important;
}
.nav-link {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin-left: 25px;
  padding-left: 0.8rem !important;
  transition: all linear 0.3s;
  position: relative;
}
.nav-link i {
  position: absolute;
  content: "";
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
}
.nav-link:hover {
  color: #ffffff;
}

#banner {
  padding: 100px 0;
  background: rgb(231, 196, 227);
}
.common-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 60px;
}

.applink {
  color: #e2136e;
  transition: all linear 0.3s;
}

.applink:hover {
  color: #fff;
}
/*======== Nav Bar End ========== */

.btn-a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 8px 60px;
  display: flex;
  background: #fff;
  color: #e2136e;
  align-items: center;
  border: solid 2px #e2136e;
  box-shadow: 0px 8px 15px rgb(226, 19, 109) (0, 0, 0, 0.1);
  transition: all 0.4s ease;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}

.button .b {
  font-size: 25px;
  font-weight: 600;
}

.button:hover {
  background-color: #e2136e;
  box-shadow: 0px 15px 20px rgba(229, 46, 159, 0.4);
  color: #fff;
  border: solid 2px #fff;
  transform: translateY(-7px);
}

.button:hover > .b {
  animation: letterroll cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.b {
  animation: backroll cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

@keyframes letterroll {
  50% {
    transform: translateY(-75%);
    opacity: 0;
  }
  50.1% {
    transform: translateY(75%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes backroll {
  50% {
    transform: translateY(75%);
  }
  50.1% {
    transform: translateY(-75%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

#butn {
  visibility: hidden;
  margin: 15px 0 30px 0;
}

/* =====Banner Text style======= */
.banners {
  padding: 35px 0;
  background-color: rgba(226, 19, 109, 0.959);
  position: relative;
}

.banner-wrapper {
  margin: 0;
}

.banner-head-text {
  position: relative;
  display: flex;
}

.ak h1 {
  display: inline-block;
  margin-top: 10px;
  font-size: 40.625rem;
  font-weight: 700;
  line-height: 0.6;
  color: #f0d116;
}

.bann-he-text {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 0.6;
  color: #fff;
}

.bann-he-text-1 {
  position: absolute;
  left: 181px;
  top: 24px;
  font-size: 6.25rem;
}

.bann-he-text-2 {
  position: absolute;
  left: 276px;
  top: 114px;
}

.bann-he-text1-3 {
  position: absolute;
  left: 312px;
  top: 197px;
}

.bann-he-text1-4 {
  position: absolute;
  left: 319px;
  top: 280px;
}

.bann-he-text1-5 {
  position: relative;
  left: -46px;
  top: 360px;
  height: 60px;
}

.pay-bill {
  width: 80px;
}

.ban-service {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-items {
  display: flex;
}

.service-items-p {
  transition: color 300ms;
}

/* .ticket:hover {
  background-color: #fff;
} */

.ticket:hover* {
  color: #d12053;
}

.ticket {
  padding: 0 8px;
  display: grid;
  grid-template-columns: 80px auto;
  align-items: center;
  gap: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: background-color 300ms;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

/* .left:hover {
  color: #d12053;
} */

.ban-logo {
  width: 80px;
  height: 80px;
}

.ban-box a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 23px;
  font-weight: 500;
  padding-bottom: 5px;
}

/* .ban-box a:hover {
  color: #e2136e;
} */

.service-items-p {
  font-size: 1.313em;
  font-weight: 500;
  color: #fff;
  margin: auto;
  padding-left: 10px;
}
.ban-img {
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  gap: 30px;
}

.ban-img img {
  height: 400px;
  margin: 0;
}

.ban-last-img {
  position: absolute;
  right: 126px;
  top: 55px;
  animation: phone 6s infinite;
}

@keyframes phone {
  0% {
    top: 0;
  }

  50% {
    top: 50px;
  }

  100% {
    top: 0;
  }
}

.banner-border img {
  position: absolute;
  left: 0;
  top: 478px;
  width: 100%;
  overflow: hidden;
}

/*=====Image gallery=========*/
.img-gal {
  background-color: #e4b7cc;
  padding: 50px 0;
}

.img-gall-wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 30px;
}
.crd-zoom {
  transition: transform 0.2s;
}

.crd-zoom:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

  -webkit-box-shadow: -5px 14px 41px 3px rgba(74, 76, 99, 0.84);
  -moz-box-shadow: -5px 14px 41px 3px rgba(74, 76, 99, 0.84);
  box-shadow: -5px 14px 41px 3px rgba(74, 76, 99, 0.84);
}

/* Transsection Section Start */

.transection {
  background-color: #e4b7cc;
  padding: 20px 0;
}

.trans-h2 {
  font-size: 35px;
  margin: 25px 0;
}

.trans-h2 span {
  color: #e31c73;
}

.trans-p-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  align-items: center;
}

.trans-div-text p i {
  color: #d12053;
  font-size: 16px;
  margin-right: 8px;
}

/* ========How it work ====== */

.how-work {
  padding: 30px 0;
  background-color: #e2136e;
}

.container-box {
  border-radius: 30px;
  background-color: #fff;
  padding: 30px 0;
}

.how-work-head-text {
  margin: 0 auto;
  align-items: center;
}

.how-work-head-text h2 {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 45px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.apps-3-step > i {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #e2136e;
  margin: 0 auto;
  font-size: 35px;
  color: #fff;
  transition: all linear 0.4s;
}

.apps-3-step > i:hover {
  background-color: #d3bbc6;
  color: #e2136e;
  cursor: pointer;
}

.apps-3-step h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.app-down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 30px;
  transition: all linear 0.4s;
  margin-bottom: 1rem;
}

.app-down > i {
  color: #d12053;
}

.apps-3-step-p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-digit-step {
  width: 40px;
  height: 40px;
  border: 1px dashed #d12053;
  color: #d12053;
  text-align: center;
  line-height: 38px;
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  margin-top: 30px;
  position: relative;
  font-size: 25px;
  font-weight: 600;
}

.app-btn {
  width: 225px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
}

.app-link {
  color: #e2136e;
  transition: all linear 0.4s;
}

.app-btn:hover * {
  color: #fff;
}
